<header>
<h1>Tiny App</h1>
  <% if (user) { %>
    <%= user.email %>
      <form action="/logout" method="post">
        <input type="submit" value="Logout">
      </form>
  <% } else { %>
    <a href="/register">Register Here</a><br>
    <a href="/login">Login here</a>
  <% } %>
</header>