<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
</header>
<body>
<% if (userid) { %>
  <%= userid %>
    <form action="/logout" method="post">
      <input type="submit" value="Logout">
    </form>
<% } else { %>
  <form action="/login" method="post">
    <label for="email">email:</label>
    <input type="text" id="email" name="email">
    <label for="password">password:</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Login">
  </form>
<% } %>
<p>Don't have an account? <a href="/register">Register now</a></p>
</body>
</html>