<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
<body>
<h1>TinyApp</h1>
  <form action="/register" method="post">
    <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    <input type="submit" value="Register">
  </form>
</body>
</html>